html {
  body {
    font-size: 30px;
    color: #ffff;
    background-color: green;
    display: flex;
    .container {
      background-color: white;
      font-size: 20px;
      color: blue;
    }
  }
}